<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.td.mapper.MasterMapper">

	<insert id="save" parameterType="Master">
		insert into
		master(id,acc,password) values(#{id},#{acc},#{password});
	</insert>

	<select id="login" resultType="Master">
		select id,acc from master where
		acc = #{param1} and password= #{param2};
	</select>
</mapper>
